<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>
<body>
  <br>
  <div class="err-container">
    <% if (err) { %> 
      <h3> <%= err%></h3>
    <% } %>
  </div>
  <br>
  <div class="container">
    <form action="/login" method="POST">
      <label for="email">Email</label>
      <input type="email" name="email"><br>

      <label for="password">Password</label>
      <input type="password" name="password"><br>

      <button type="submit">Login</button>
      <!-- <img src="/public/mobil.jpg" alt="123"> -->
    </form>
  </div>
</body>
</html>
